* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.painel2 {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: antiquewhite;
    box-shadow: 2px 2px 5px 1px;
}

.painel2 div .titulos {
    text-align: center;
}

.titulos h2 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 20px;
}

.titulos p {
    margin-bottom: 30px;
}

.painel2 div {
    display: flex;
    flex-direction: column;
}

.painel2 .pergunta {
    margin: 20px 0;
    font-weight: bold;
}

.painel2 textarea {
    outline: 0;
}

.painel2 div input {
    padding: 10px;
    border: 1px solid rgb(156, 153, 153);
    outline: 0;
}

.painel2 div button {
    padding: 7px;
    border: 1px solid rgb(156, 153, 153);
    background-color: rgba(0, 255, 255, 0.426);
    font-weight: bold;
    cursor: pointer;
    margin: 30px 0 0;
}

@media (max-width: 650px) {
    .painel2 {
        max-width: 400px;
    }
}

@media (max-width: 400px) {
    .painel2 {
        max-width: 300px;
    }
}